* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: url('ezgif.com-gif-maker.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.rocket {
  position: fixed;
  left: -200px; /* move rocket offscreen to the left initially */
  bottom: 20px; /* adjust this as needed */
  height: 100px;
  animation: moveRocket 5s linear infinite;
  transform: rotate(90deg); /* adjust rotation as needed */
}

@keyframes moveRocket {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
