* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDdkMjAwMWQ1ZTQ4YWI1ZThmN2E5OTQ4ZDM2MmZhZWQ4NjM0NDc0MiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/xUA7bfDro97ipc4fu0/giphy.gif');
  background-repeat: repeat-y;
  background-attachment: fixed;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
