@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive; 
  color: #00FF00;
  height: 100vh;
  background: url('ezgif.com-gif-maker.gif') no-repeat center center fixed; 
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-repeat: repeat;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.name {
  font-size: 36px;
  margin: 0;
  color: inherit; 
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex; /* make the list items display in a row */
  justify-content: space-around; /* evenly distribute the space around the list items */
  margin-bottom: 20px; /* provide some space below the navigation bar */
}

nav ul li a {
  color: #00FF00; /* color of the links */
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.rocket {
  position: fixed;
  left: -50%; /* move rocket offscreen to the left initially */
  bottom: 20px; /* adjust this as needed */
  height: 100px;
  animation: moveRocket 20s linear infinite;
  /* removed the transform property from here */
}

@keyframes moveRocket {
  0% {
    /* added the rotation here */
    transform: translateX(0);
  }
  100% {
    /* added the rotation here and increased translateX to 120vw */
    transform: translateX(200vw);
  }
}
